.main {
    padding: 0 20px;
    overflow: hidden;

}

.data {
    background-color: #ffff;
    margin: 20px 0 20px 0;
    overflow: hidden;
}

.filter {
    display: flex;

    /* Three equal columns */
    gap: 10px;
    /* Optional: space between grid items */
    margin-left: 5px;
    padding: 20px;
}

.hand {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.active {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
    margin-right: 15px;
}